extends ../layout
block content
 nav
  div(class="nav-wrapper white" style="height:100px !important")
    a(href="/" class="brand-logo")
      img( src="/images/Capture.PNG" height="100")
    ul(id="nav-mobile" class="right hide-on-med-and-down")  
     li
      a(style="color:black" class="waves-effect waves-light btn-large  amber darken-3" href="/taxis/signupT/form") Inscription 
     li
      a(style="color:black"  href="/auth/signin/form"  class="waves-effect waves-light btn-large  amber darken-3") Connexion 
 .container
  div(class="row")
  div(class="row")
  div(class="row")
  div(class="row")
  div(class="row")
  div(class="row")
  div(class="row")
  div(class="row" style="position:relative,top:20px;color:white;font-weight: 400;" )
   h1 Bienvenue 
    br
    .
      sur le réseau JD Taxi 
   div(style="position:relative,top:20px;color:white;font-weight: 400;")
 
    p(style="font-size:2rem;line-height: 2.4rem;") Devenez chauffeur, générez des revenus
    
     br
     .
      tout en gérant votre emploi du temps
     br
     .
      simplement.
   
         
  //-  div(class="row " style="position:relative,bottom:20px")
    div(id="docs" class="card w-50 mt-5"  style="position:relative,top:20px;background-color:white;" )
   
      div(class="card-content")
       
        