doctype html
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")      
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
  script( src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src="https://unpkg.com/axios/dist/axios.min.js")  
  script(src="https://polyfill.io/v3/polyfill.min.js?features=default")  
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDIp-f3n9KOEIBvMlADQ6jg0c2hCg4U-s&libraries=places")

  link(rel="stylesheet" href="/css/main.css")

  
 body(class="aa")
  block content