/* label color */
.input-field label {
  color: #000;
  font-size: 30px;
  
  
}
.container-map{
  width: 100%;
  height: 30rem;
  margin: 1rem auto;
}

.marge{margin-left:6rem !important;}
.input[type=text]{position:relative;
  font-size: 30px;
  margin-left: 10rem !important;}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;

  
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}
     
  .content{
    max-width: 1000px;
    margin-top:20px;
  }
  
  .profile-container {
    width:30%;
    max-width:300px;
  }
  .bb {
    background-image:url(/images/malade.jpg);
    background-repeat: repeat;
    background-size: 100%;
  }
 .aa {
    background-image:url(/images/taxii.jpg);
    background-repeat: repeat;
    background-size: 100%;
  }

  .b {
    border:1px solid red;
  }
  
  .b1 {
    border:1px solid green;
  }
  .btn-tchat {
    border-radius: 30px;
  }

  .navbar {
    border-bottom:1px solid rgba(0, 0, 0, 0.25);
  }

  .img-fluid {
    max-height: 100px;
  }

  .tchat-element {
    border-radius: 0px;
    font-size:14px;
    border:0px;
    border-top:1px solid #ddd;
  }

  .tchat-element:first-child {
    border-top:0px;
  }
 