extends ../layout
block content
 nav
  div(class="nav-wrapper white" style="height:100px !important")
    a(href="/" class="brand-logo")
      img( src="/images/Capture.PNG" height="100")
    ul(id="nav-mobile" class="right hide-on-med-and-down")  
     
     li
      a(style="color:black"  href="/auth/signin/form"  class="waves-effect waves-light btn-large  amber darken-3") Connexion 
 
 .container
  div(class="row")
  div(class="row")
  div(class="row")
  div(class="row")
  div(class="row")
  div(class="row")
   div(class="col s6")
    div(class="card")
     a(id="truc" href="/patient") 
      div(class="card-image")
       img(src="/images/malade.jpg" height="300em")
      div(class="card-content")
        p(class="blue-grey-text text-lighten-1" style="font-size:20px;font-weight:bold;") Je suis patient :
        p(style="font-size:20px;") Réserver en tant que patient
         i(class="material-icons right icon1") arrow_forward                          
   div(class="col s6")
    div(class="card")
     a(id="truc" href="/passagers")
      div(class="card-image")
       img(src="/images/passagers.jpg" height="300em")
      div(class="card-content")
        p(class="blue-grey-text text-lighten-1" style="font-size:20px;font-weight:bold;") Je suis passager :
        p(style="font-size:20px;") Créer votre compte passager
         i(class="material-icons right icon1") arrow_forward                        
                                                      
