extends ../layout

block content
  div(class="row")
  div(class="row col s6 offset-m5")
    form(id="docs" class="card w-50 mt-5" method="post" action="/taxis/signupT" )
      div(class="card-title") Inscription   
      div(class="card-content")
       div(class="row")
        div(class="input-field col s6")
          i(class="material-icons prefix") account_circle
          input(placeholder="Placeholder" id="last_name" type="text" class="validate" name="nom" v-model="nom" v-on:blur="verifnom()" )
          label  Nom
          span(style="color:red;") 
         div(class="input-field col s6")
          i(class="material-icons prefix") account_circle
          input(placeholder="Placeholder" id="first_name" type="text" class="validate" name="prénom" v-model="nom" v-on:blur="verifnom()" )
          label Prénom
          span(style="color:red;") 
         div(class="input-field col s12")
          i(class="material-icons prefix") account_circle
          input(placeholder="Placeholder" id="user_name" type="text" class="validate" name="username" v-model="nom" v-on:blur="verifnom()" )
          label Username
          span(style="color:red;") 
        
         div(class="input-field col s6")
          i(class="material-icons prefix") contact_mail
          input(placeholder="Placeholder" id="mail" type="email" class="validate" name="email" v-model="nom" v-on:blur="verifnom()" )
          label Email
          span(style="color:red;")
         div(class="input-field col s6")
          i(class="material-icons prefix") lock
          input(placeholder="Placeholder" id="passe2" type="password" class="validate" name="password" v-model="nom" v-on:blur="verifnom()" )
          label Mot de passe 
          span(style="color:red;") 
         div(class="input-field col s6")
          i(class="material-icons prefix") lock
          input(placeholder="Placeholder" id="passe2" type="password" class="validate" name="password2" v-model="nom" v-on:blur="verifnom()" )
          label confirmez votre mot de passe 
          span(style="color:red;") 
             
         
         
        if errors
          ul(class="my-2")
            each error in errors
              li(class="text-danger")= error
        div(class="w-100")
          input(type="submit" value="s'inscrire" class="btn btn-primary ml-auto d-block")