extends ../layout
block content
 nav
  div(class="nav-wrapper white" style="height:70px !important")
    a(href="/" class="brand-logo")
      img( src="/images/Capture.PNG" height="70")
    ul(id="nav-mobile" class="right hide-on-med-and-down") 
     
     li
      a(style="color:black" class="waves-effect waves-light btn  amber darken-3" href="#") Deconnexion
    if (req.user.role=="chauffeur")  
     li
      a(style="color:black"  href="/auth/signin/form"  class="waves-effect waves-light btn  amber darken-3") Deconnexion 
    else if(role=="admin")  
     li
      a(style="color:black"  href="/auth/signin/form"  class="waves-effect waves-light btn  amber darken-3") Deconnexion 
    else if(role=="passager")  
     li
      a(style="color:black"  href="/auth/signin/form"  class="waves-effect waves-light btn  amber darken-3") Deconnexion 
    else if(role=="patient")  

     li
      a(style="color:black"  href="/auth/signin/form"  class="waves-effect waves-light btn  amber darken-3") Deconnexion 