extends ../layout
block content
 nav
  div(class="nav-wrapper white" style="height:70px !important")
    a(href="/" class="brand-logo")
      img( src="/images/Capture.PNG" height="70")
    ul(id="nav-mobile" class="right hide-on-med-and-down")  
     
     li
      a(style="color:black" href="/auth/signout"  class="waves-effect waves-light btn  amber darken-3") Déconnexion       
 .container 
   div(class="row")
   div(class="row col s6 offset-m5")  
    form(id="docs" class="card w-50 mt-5" method="post" action="/malade/course" )
      div
       img(class="responsive-img circle  col s4 offset-s4" src="/images/malade.jpg"  height="150em" width="150em") 
       p(class=" col s4 offset-s4 center" style="font-weight:bold;font-size:20px;") #{users}   
      div(class="card-content")
       div(class="row")
        div(class="input-field col s12")
          i(class="material-icons prefix") place
          input(placeholder="Placeholder" id="adresse" type="text" class="validate" name="adresse" v-model="nom" v-on:blur="verifnom()" )
          label point de depart 
          span(style="color:red;") 
        div(class="input-field col s12")
          i(class="material-icons prefix") place
          input(placeholder="Placeholder" id="adresse" type="text" class="validate" name="adresse1" v-model="nom" v-on:blur="verifnom()" )
          label point d'arrivée 
          span(style="color:red;") 
        div(class="input-field col s12")
          i(class="material-icons prefix") date_range
          input(placeholder="Placeholder" id="adresse" type="text" class="validate" name="adresse1" v-model="nom" v-on:blur="verifnom()" )
          label Rendez vous
          span(style="color:red;") 
         
        if errors
          ul(class="my-2")
            each error in errors
              li(class="text-danger")= error
        div(class="w-100 col s12")
          input(type="submit" value="valider" class="btn btn-large col s4 offset-s4 ml-auto d-block")
   